footer
    width: 100%
    overflow-x: hidden
    background-color: #0c0b09

    .footertop
        height: 90%
        display: flex
        flex-wrap: wrap
        padding-top: 50px
        padding-bottom: 40px
        padding-right: 20px
        padding-left: 20px

        .footertop1
            width: 25%
            display: flex
            flex-wrap: wrap
            flex-direction: column
            padding: 1px 10px
            align-items: start
            padding-left: 20px
        .footertop2
            width: 25%
            flex-wrap: wrap
            display: flex
            flex-direction: column
            justify-content: center
            align-items: start
            padding: 1px 10px
        .footertop3
            width: 25%
            flex-wrap: wrap
            display: flex
            flex-direction: column
            justify-content: center
            align-items: start
            padding: 1px 10px
        .footertop4
            width: 25%
            flex-wrap: wrap
            display: flex
            flex-direction: column
            padding: 1px 10px
            align-items: start
            padding-right: 10px

    .footerbot
        height: 10%
        display: flex
        
        align-items: center
        justify-content: center
        padding: 20px 0px
        background-color: black
        font-family: sans-serif
        font-size: 15px
        



.iconesfooter
    display: flex
    gap: 20px

    p
        .fa-brands:hover
            color: #cca55d !important
            cursor: pointer




#footercolor:hover
    color: #cca55d !important
    cursor: pointer
    font-family: sans-serif


#footercolor
    font-family: sans-serif


.footertitles
    font-family: 'Times New Roman', Times, serif
    font-weight: 600
    font-size: 22px
    margin-left: -10px


.hr
    padding: 0 0
    margin: 0 0



.secheader
    font-family: sans-serif
    letter-spacing: 0.1em
    color: #adacac
    p
        font-family: 'Times New Roman', Times, serif


#footname
    background: rgb(34, 28, 18)
    border: solid 1px gray
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px

#sendButton
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px !important
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
    


        
   


@media screen and ( max-width:650px )

    .footertop
        display: flex
        flex-direction: column
        
        padding-left: 20px
    