header
    width: 100dvw
    background-image: url(./../assets/CBIENBON/img/hero-bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    
    
    .navbar
        background-color: black
        opacity: 0.5

    .headerbot
        padding-top: 250px
        padding-bottom: 200px
        padding-left: 20px

        .cbienbon
            color: #cca55d
       
    