header
    width: 100dvw
    background-image: url(./../assets/CBIENBON/img/hero-bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    
    
    .navbar
        
        position: sticky !important
        

        .homecolor
            color: #cca55d

    .headerbot
        padding-top: 250px
        padding-bottom: 200px
        padding-left: 20px

        .cbienbon
            color: #cca55d



#playbutton
    box-shadow: 0px 0px 0px 17px rgba(213, 162, 79, 0.3)

       
    