main
    width: 100dvw
    background-image: url(./../assets/CBIENBON/img/about-bg.jpg)

    .sec1
        display: flex
        padding-top: 20px
        padding-bottom: 100px

        .sec1left
            width: 50%
            padding-left: 50px
            // display: flex !important
            // flex-direction: column !important
            // justify-content: center !important
            // align-items: center !important
            h4
             
                font-size: 130%
                display: flex

            .goldcheck
                
                font-size: 70%
                padding-left: 0px !important
                margin-left: 0px !important

        .sec1right
            width: 50%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            .goldrectangles
                position: relative
                height: 300px
                width: 400px
                background-image: url(./../assets/CBIENBON/img/about.jpg)
                background-size: cover
                border: solid 3px gray
                transition-duration: 0.3s

                &:hover
                    position: relative !important
                    transform: scale(1.1) !important
                    

            
             
                

                .border-container1
                    position: absolute
                    top: 10px
                    left: 10px
                    transition-duration: 0.3s
                    height: 50px
                    width: 50px
                    border-top: 5px solid #cca55d
                    border-left: 5px solid #cca55d
                    z-index: 3
                    
                    
                .border-container1:hover
                    top: 0 !important
                    left: 0 !important




                .border-container2
                    position: absolute !important
                    bottom: 10px !important
                    right: 10px !important
                    transition-duration: 0.3s
                    height: 50px
                    width: 50px
                    border-bottom: 5px solid #cca55d !important
                    border-right: 5px solid #cca55d !important
                    z-index: 3

                    &:hover
                        bottom: 0 !important
                        right: 0 !important

                



           
               





                    
                                          

               
    .sec1bot
        display: flex
        flex-direction: column
        background-color: rgb(15, 14, 12)
        padding-top: 50px

        .linegray
            display: flex
            align-items: center
            justify-content: start
            padding-left: 0px
            margin-left: 0px

            .laligne
                margin-left: -80px
        
        .line
            color: gray
            
        p
            padding-left: 20px
        h1
            padding-left: 20px
        

        .threeblocks
            display: flex
            justify-content: center
            width: 100%
            margin-bottom: 50px

            gap: 20px

            .blockleft
                display: flex
                flex-direction: column
                justify-content: center
                padding: 10px 15px
                text-align: start
                background-color: rgb(44, 40, 34)
                width: 33%
                height: 220px
                margin-left: 20px
                transition-duration: 0.2s

            .blockleft:hover
                background-color: orange
            
            .blockmid
                display: flex
                width: 33%
                flex-direction: column
                justify-content: center
                height: 220px
                background-color: rgb(44, 40, 34)
                padding: 10px 15px

            .blockmid:hover
                background-color: orange

            .blockright
                width: 33%
                display: flex
                flex-direction: column
                justify-content: center
                height: 220px
                background-color: rgb(44, 40, 34)
                padding: 10px 15px
                margin-right: 20px

            .blockright:hover
                background-color: orange




@media screen and ( max-width:550px )
    .sec1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        



.sec2
    background-color: red

    .sec2top
        .linegray
            display: flex
            align-items: center
            justify-content: start
            padding-left: 0px
            margin-left: 0px

            .laligne
                margin-left: -80px


    .sec2bot
        display: flex !important
        width: 100%
        

        .sec2botleft
            display: flex
            flex-direction: column
            justify-content: center
            align-items: start
            width: 50%
            .Lobster
                display: flex

                


        .sec2botright
            display: flex
            flex-direction: column
            justify-content: center
            align-items: start
            width: 50%

    
            

            

    


.sec3
    background-image: url(./../assets/CBIENBON/img/events-bg.jpg)
    background-size: cover
    background-color: black



#underline
        
  text-decoration: underline orange

#loremipsum
    line-height: 2em



.sec4
    background-color: rgb(44, 40, 34)
    .sec4top
        display: flex
        flex-direction: column
        padding-top: 50px
        padding-left: 50px

        .linegray
            display: flex
            align-items: center
            justify-content: start
            padding-left: 0px
            margin-left: 0px

            .laligne
                margin-left: -80px

    .sec4mid
        display: flex
        flex-direction: column
        
        gap: 20px
        justify-content: center
        align-items: center

        #fname
            background-color: rgb(44, 40, 34)
            color: whitesmoke
            border: solid 2px gray
            width: 400px
            margin: 5px 20px
            padding: 7px 5px
        .sec4mitbot
            


#textarea
        width: 100%
        background-color: rgb(44, 40, 34)
        border: solid 2px gray
        color: whitesmoke


.bookbutton
    display: flex
    justify-content: center
    align-items: center
    padding-top: 10px
    padding-bottom: 20px



.sec5
    background-color: rgb(44, 40, 34)
    margin-left: -40px !important
    padding-right: 30px
    

    .sec5top
    padding-left: 50px !important
    padding-top: 50px

    .linegray
            display: flex
            align-items: center
            justify-content: start
            padding-left: 0px
            margin-left: 0px

            .laligne
                margin-left: -80px

    

    .sec5mid
        display: flex
        padding-left: 0px

        #galltop
            width: 25%
            height: 25%

    .sec5bot
        display: flex        
        #gallbot
            width: 25%
            height: 25%

.sec6
    background-color: rgb(44, 40, 34)
    padding-top: 50px

    .sec6top
        display: flex
        flex-direction: column
        flex-wrap: wrap
        padding-top: 50px
        padding-bottom: 30px
        padding-left: 50px

        .linegray
            display: flex
            align-items: center
            justify-content: start
            padding-left: 0px
            margin-left: 0px

            .laligne
                margin-left: -80px

    .sec6bot
        width: 100%
        display: flex
        flex-wrap: wrap
        gap: 15px
        justify-content: center

        #chefs
            width: 30%

.sec7
    background-color: rgb(44,40,24)

    .sec7mid
        padding-bottom: 20px

    .sec7top
        display: flex
        flex-direction: column
        flex-wrap: wrap
        padding-top: 50px
        padding-bottom: 30px
        padding-left: 50px
        margin: 0 0

        .linegray
            display: flex
            align-items: center
            justify-content: start
            padding-left: 0px
            margin-left: 0px

            .laligne
                margin-left: -80px

.sec7bot
    width: 100%
    background-color: rgb(44,40,24)
    display: flex

    .sec7botleft
        width: 40%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 10px
    .locationbox
        display: flex
        gap: 20px
        
        .locationcircle
            background: #cca55d
            width: 50px
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%

    .timebox
        display: flex
        gap: 20px

        .timecircle
            background: #cca55d
            width: 50px
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%

    .emailbox
        display: flex
        gap: 20px

        .emailcircle
            background: #cca55d
            width: 50px
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%

    .phonebox
        display: flex
        gap: 20px
        padding-top: 10px

        .phonecircle
            background: #cca55d
            width: 50px
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%





        


    .sec7botright
        width: 60%
        display: flex
        flex-direction: column
        gap: 15px
        justify-content: center
        align-items: center

        .secbotrighttop
            display: flex
            gap: 5px
            

            #fname2
                width: 100%
                margin: 4px 10px
                background-color: rgb(44, 40, 34)
                color: white
                padding: 7px 5px
                border: solid 2px gray

        .secbotrightbot            
            gap: 15px
            display: flex
            flex-direction: column
            background-color: rgb(44, 40, 34)
            color: white

            #textarea2
                width: 100%
                background-color: rgb(44, 40, 34)
                color: white
                padding: 7px 5px
                border: solid 2px gray

            
        


    


@media screen and ( max-width:500px )
    .sec5mid
        display: flex
        flex-direction: column
        #galltop
            height: 100% !important
            width: 100% !important

    .sec5bot
        display: flex
        flex-direction: column
        #gallbot
            height: 100% !important
            width: 100% !important
    .sec6bot
        display: flex
        flex-direction: column
        #chefs
            width: 100% !important

    .sec7bot
        display: flex
        flex-direction: column
        padding-left: 20px
        