main
    width: 100dvw
    background-image: url(./../assets/CBIENBON/img/about-bg.jpg)

    .sec1
        display: flex
        padding-top: 20px
        padding-bottom: 100px

        .sec1left
            width: 50%
            display: flex !important
            flex-direction: column !important
            justify-content: center !important
            align-items: center
            h4
                font-size: 130%
                display: flex

            .goldcheck
                
                font-size: 70%
                padding-left: 0px !important
                margin-left: 0px !important

        .sec1right
            width: 50%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            .goldenrectangles
                position: relative

            .aboutimg
                border: solid 3px gray
                z-index: 0





                    
                                          

               
    .sec1bot
        display: flex
        flex-direction: column
        background-color: rgb(15, 14, 12)
        
        .line
            color: gray
            
        p
            padding-left: 20px
        h1
            padding-left: 20px
        

        .threeblocks
            display: flex
            justify-content: center
            width: 100%

            gap: 20px

            .blockleft
                display: flex
                flex-direction: column
                justify-content: center
                padding: 10px 15px
                text-align: start
                background-color: rgb(59, 49, 35)
                width: 33%
                height: 180px
                margin-left: 20px
            
            .blockmid
                display: flex
                width: 33%
                flex-direction: column
                justify-content: center
                height: 180px
                background-color: rgb(59, 49, 35)
                padding: 10px 15px
            .blockright
                width: 33%
                display: flex
                flex-direction: column
                justify-content: center
                height: 180px
                background-color: rgb(59, 49, 35)
                padding: 10px 15px
                margin-right: 20px




@media screen and ( max-width:550px )
    .sec1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    
            

            

    